RAG -CHAT BOT-p.json
{
  "name": "RAG -CHAT BOT-p",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1I2YhvMWlVva67B2Dx8PrHfPjCOsdVXZj",
          "mode": "list",
          "cachedResultName": "flipkart",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1I2YhvMWlVva67B2Dx8PrHfPjCOsdVXZj"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        0
      ],
      "id": "14743f64-ea6e-41e7-9f6b-51c0f831a8e9",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "11KP452DGdFsndjK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        0
      ],
      "id": "8088ff72-780f-429e-a45d-d7b4e8dce646",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "11KP452DGdFsndjK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rs",
          "mode": "list",
          "cachedResultName": "rs"
        },
        "options": {
          "pineconeNamespace": "RS"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        160,
        0
      ],
      "id": "6f5f2ab8-3871-4c29-b63a-ff8032adabaf",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "5SmQ6AZEJvlwPgP0",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        32,
        256
      ],
      "id": "60f8afea-7846-4e33-873a-2e0177e69ee4",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "WtseUyGPOk4GDt2n",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        352,
        240
      ],
      "id": "238feb3f-f1a1-41b0-96ae-b19ee75af3cf",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        640,
        32
      ],
      "id": "059cbe51-6905-4130-b37f-57e634be3b9b",
      "name": "When chat message received",
      "webhookId": "f6b83fac-8466-46be-b2a0-e64cdc5e6704"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "YOU ARE A HELPFUL ASSISTANT : \nTOOLS: \n USE THE PINECONE TO RETRIEVE THE DATA FROM IT .\n\nROLE : \n GIVE ME SPECIFIC ANSWERS AS MENTIONED . IF CAN'T FIND ANSWER JUST GIVE  AS \" I DID NOT  FIND THE SPECIFIC ANSWER .\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        848,
        32
      ],
      "id": "9f96e5e7-92f3-4ace-bdbd-26dd47b33866",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        720,
        240
      ],
      "id": "cc1451e9-1ed2-4456-a313-01a117482a78",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WtseUyGPOk4GDt2n",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        896,
        400
      ],
      "id": "3e7d29a4-e021-42d3-92c3-9eef1c248a96",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "WtseUyGPOk4GDt2n",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "answer for the users query ",
        "pineconeIndex": {
          "__rl": true,
          "value": "rs",
          "mode": "list",
          "cachedResultName": "rs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1040,
        224
      ],
      "id": "5b0b2db3-3844-4c85-b442-7ab1ef2677b8",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "5SmQ6AZEJvlwPgP0",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "414c97ea-2b16-4904-b0af-6d446672e57c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94a5e5182b18f48489156196e3e74dff397cb30d9b57ca0b9e8c361d0af547d9"
  },
  "id": "5-IJQnFLY_QCTIbwpNRKN",
  "tags": []
}